# docker-compose.yml

version: '3.8'

services:

  back_end:
    build: ./back_end
    volumes:
      - ./back_end:/app
    expose:
      - 8000

  reverse_proxy:
    build:
      dockerfile: ./Dockerfile
    volumes:
      - ./back_end/static/app:/app/static/
    
    ports:
      - 80:80
    depends_on:
      - back_end