body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content; */
}

form {
    margin: auto;
    position: fixed;
    bottom: 7%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    display: grid;
    grid-template-columns: auto min-content;
}

textarea {
    width: 100%;
    resize: none;
}

button {
    color: #fff;
    background: blue;
    width: 100%;
    display: grid;
}

img {
    width: 2em;
}