@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content; */
}

a {
    text-decoration: none;
}

h1 {
    margin: 1em 2em;
    font-size: 4em;
    position: fixed;
    top: 0;
    left: 0;
}

#messages {
    margin: auto;
    margin-bottom: 13em;
    margin-top: 13em;
    width: 40%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
    background: #fff; 
    box-shadow: 0 0 0.2em rgb(95, 88, 176);
    padding: 0.7em 0.7em;
    border-radius: 1em;
}

.left, .right {
    width: 70%;
    margin: 1em;
    padding: 1em;
    box-shadow: 0 0 0.1em rgb(0, 0, 0);
    overflow: hidden;
    padding: 0.7em 0.7em;
    border-radius: 1em;
    color: #fff;
}

.left  {
    justify-self: start;
    background: #70737c;
}

.right {
    justify-self: end;
    background: #4b71ee;
}

form {
    background: rgb(222, 222, 255);
    margin: auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 12em;
    display: grid;
    grid-template-columns: 70% 30%;
}

textarea, .textarea_replacement {
    justify-self: end;
    resize: none;
    width: 60%;
    height: min-content;
    max-height: 5rem;
    margin: 2rem 0;
    border: none;
    border-radius: 1em;
    outline: none;
    font-size: 1.3em;
    box-shadow: 0 0 0.2em rgb(95, 88, 176);
    overflow: hidden;   
    background: #fff; 
    padding: 0.7em 0.7em;
}

button {
    margin: 2rem 0;
    color: #fff;
    background: rgb(255, 44, 44);
    width: 3.5em;
    height: 3.5em;
    display: grid;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 0.2em rgb(21, 21, 21);
    margin-left: 0.5em;
}

button:hover {
    background: rgb(255, 82, 82);
}

button:active {
    background: rgb(205, 40, 40);
}

img {
    width: 2em;
    margin: auto;
}

#toLoginPage {
    position: absolute;
    top: 2em; 
    right: 4em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    
}

#toAboutPage {
    position: absolute;
    top: 2em; 
    right: 8em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}

#toIndex {
    color: #000000;
}
