@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

#navbar {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    position: fixed;
    height: 4.3em;
    top:0;
    width: 100%;
    background: #292828;
    display: grid;
    grid-template-areas: "about profile login";
    grid-template-columns: auto min-content min-content;
}

#navbar > h1 {
    margin: 0.4em 0.7em;
    font-size: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#navbar > button {
    margin: 1em;
    font-size: 1.3em;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    color: #d8d8d8;
}

#navbar > #Baymax > #toIndex {
    text-decoration: none;
    color: #ff3535;
}

#navbar > #toLoginPage:hover, #navbar > #toProfilePage:hover, #navbar > #toAboutPage:hover {
    color: #fdfdfd;
}

#navbar > #toLoginPage:active, #navbar > #toProfilePage:active, #navbar > #toAboutPage:active {
    color: #ada8a8;
} 

#navbar > #toLoginPage {
    grid-area: login;    
}

#navbar > #toProfilePage {
    grid-area: profile;    
}

#navbar > #toAboutPage {
    justify-self: end;
    grid-area: about;
}