<<<<<<< HEAD:front_end/CSS/about.css
/* CSS for the about page */
* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(222, 222, 255);
}

a {
    text-decoration: none;
    color: #000000; /* Black color for links */
}


h1 {
    margin: 0.26em 0.7em;
    font-size: 2.3em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#toIndex {
    color: #ff3535;
}

aside {
    position: fixed;
    height: 4.3em;
    top:0;
    width: 100%;
    background: #292828;
    display: grid;
    grid-template-areas: "about profile login";
    grid-template-columns: auto min-content min-content;
}

aside > button {
    margin: 1em;
    font-size: 1.3em;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    color: #d8d8d8;
}

#toLoginPage:hover, #toProfilePage:hover, #toAboutPage:hover {
    color: #fdfdfd;
}

#toLoginPage:active, #toProfilePage:active, #toAboutPage:active {
    color: #ada8a8;
}

#toLoginPage {
    grid-area: login;   
}

#toProfilePage {
    grid-area: profile;    
}

#toAboutPage {
    justify-self: end;
    grid-area: about;
    border-bottom: solid;
    border-width: 2px;
    border-color: #fff; 
}

h2 {
    margin: 0.3em 0.5em;
    font-size: 3.5em;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
>>>>>>> sprint3:back_end/static/app/CSS/about.css

.content {
    margin: 2em;
    margin-top: 15%;
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
}

.hero {
    width: 150px;
    margin: 1em;
    text-align: center;
}

.hero img {
    min-width: 125%;
    max-width: 125%;
    height: auto; /*Allows the image to maintain its aspect ratio. */
    min-height: 275px;
    max-height: 275px; 
    border: 2px solid #000000;
    border-radius: 10px;
}


.hero-info {
    margin-top: 10px;
}

.hero-name {
    font-weight: bold;
}
/*
#toLoginPage {
    position: absolute;
    top: 2em; 
    right: 4em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}

#toAboutPage {
    position: absolute;
    top: 2em; 
    right: 8em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}
*/

