@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content; */
}

h2 {
    margin: 0.5em 0.5em;
    font-size: 2.5em;
}

form {
    margin: auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 50vh;
}

#error {
    justify-content: center;
    align-content: center;
    align-self: auto;
    font-size: 1.2em;
    color: red;
    flex: 0.3; 
    margin-bottom: 0.75em;   
}

.user {
    justify-content: center;
    font-size: 1.2em;
    
}

.pass {
    justify-content: center;
    font-size: 1.2em;
    margin-top: 10px;
}
#password {
    margin-left: 10px;
    margin-bottom: 10px;
}

.email {
    justify-content: center;
    font-size: 1.2em;
}
#email {
    margin-left: 49px;
    margin-bottom: 15px;
}

.city {
    justify-content: center;
    font-size: 1.2em;
}
#city {
    margin-left: 66px;
    margin-bottom: 10px;
}

.state {
    justify-content: center;
    font-size: 1.2em;
}

#state {
    margin-left: 60px;
    margin-bottom: 10px;
}

.zipcode {
    justify-content: center;
    font-size: 1.2em;
}
#zipcode {
    margin-left: 10px;
    margin-bottom: 10px;
}

button {
    color: rgb(39, 37, 37);
    background: rgb(255, 44, 44);
    display: grid;
    border: none;
    width: 100px;
    height: 25px;
    box-shadow: 0 0 0.2em rgb(21, 21, 21);
    font-size: large;
    align-content: center;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: rgb(255, 82, 82);
}

button:active {
    background: rgb(205, 40, 40);
}

input {
    box-shadow: 0 0 0.2em rgb(95, 88, 176);
    overflow: hidden;   
    background: #fff; 
    padding: 0.7em 0.7em;
    border: none;
    border-radius: 1em;
    outline: none;
}

select {
    appearance: none; /* Remove default styles in some browsers */
    color: black; 
    background: #fff; 
    padding: 0.7em 0.7em;
    font-size: 0.85em;
    border: none;
    border-radius: 1em;
    width: 10em;
    box-shadow: 0 0 0.2em rgb(95, 88, 176);
}

option {
    justify-content: center;
    background-color: #fff;
    color: black;
}