@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
}

h1 {
    margin: 0.4em 0.7em;
    font-size: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#toIndex {
    text-decoration: none;
    color: #ff3535;
}

#panelContainer {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px; /* Start hidden outside the viewport */
    background-color: #f1f1f1;
    transition: 0.3s;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /*#togglePanelButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
  }*/
  