@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
    text-align: center;
}

h1 {
    margin: 0.2em 0.7em;
    font-size: 2.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h2 {
    margin: 0.5em;
    font-size: 2.2em;
}

#toIndex {
    text-decoration: none;
    color: #ff3535;
}
  
#panelContainer {
    z-index: 1000;
    width: 250px;
    height: 92%;
    position: fixed;
    top: 58px;
    left: 0px; /* Start visible in the viewport */
    background-color: #383636;
    transition: 0.2s;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(223, 217, 217, 0.2);
}

#addConversation {
    background-color: #3498db;
    color: white;
    top: 10px;
    padding: 10px 10px 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
#addConversation:hover {
    background-color: #2980b9;
}

.form_fail {
    font-size: 0.8em;
    color: red;
    margin-bottom: 0.75em; 
    width: 30em;
    background: rgba(252, 245, 221, 0.8);
    box-shadow: 0 0 0.1em rgb(107, 100, 100);
    margin: auto;
    margin-top: 2em;
    margin-bottom: 4em;
    padding: 0.7em 0.7em;
}

@media(max-width: 440px){
    .form_fail {
        width: 80%;
    }
}