@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.content {
    margin: 2em;
    margin-top: 15%;
    text-align: center;
}

.content h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.content h2 {
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 10px #fff;
}

.content .searchContent {
    width: 200px;
    height: 50px;
}