@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

<<<<<<< HEAD:front_end/CSS/login.css
* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(222, 222, 255);
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto max-content; */
}

a {
    text-decoration: none;
}

h1 {
    margin: 0.5em 0.7em;
    font-size: 3em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#toIndex {
    color: #ff3535;
}

aside {
    position: fixed;
    height: 4.3em;
    top:0;
    width: 100%;
    background: #292828;
    display: grid;
    grid-template-areas: "about profile login";
    grid-template-columns: auto min-content min-content;
}

aside > button {
    margin: 1em;
    font-size: 1.3em;
    border: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    color: #d8d8d8;
}

#toLoginPage:hover, #toProfilePage:hover, #toAboutPage:hover {
    color: #fdfdfd;
}

#toLoginPage:active, #toProfilePage:active, #toAboutPage:active {
    color: #ada8a8;
}

#toLoginPage {
    grid-area: login;   
    border-bottom: solid;
    border-width: 2px;
    border-color: #fff; 
}

#toProfilePage {
    grid-area: profile;    
}

#toAboutPage {
    justify-self: end;
    grid-area: about;
}

h2 {
    margin: 0.5em 0.5em;
    font-size: 2.2em;
}

=======
>>>>>>> sprint3:back_end/static/app/CSS/signup.css
form {
    margin: auto;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 50vh;
}

#error {
    justify-content: center;
    align-content: center;
    align-self: auto;
    font-size: 1.2em;
    color: red;
    flex: 0.3; 
    margin-bottom: 0.75em;   
}

.user {
    justify-content: center;
    font-size: 1.2em;
    
}

.pass {
    justify-content: center;
    font-size: 1.2em;
    margin-top: 10px;
}
#password {
    margin-left: 10px;
    margin-bottom: 10px;
}

.email {
    justify-content: center;
    font-size: 1.2em;
}
#email {
    margin-left: 49px;
    margin-bottom: 15px;
}

<<<<<<< HEAD:front_end/CSS/login.css
button#submit {
=======
.city {
    justify-content: center;
    font-size: 1.2em;
}
#city {
    margin-left: 66px;
    margin-bottom: 10px;
}

.state {
    justify-content: center;
    font-size: 1.2em;
}

#state {
    margin-left: 50px;
    margin-bottom: 10px;
}

.zipcode {
    justify-content: center;
    font-size: 1.2em;
}
#zipcode {
    margin-left: 10px;
    margin-bottom: 10px;
}

button {
>>>>>>> sprint3:back_end/static/app/CSS/signup.css
    color: rgb(39, 37, 37);
    background: rgb(255, 44, 44);
    display: grid;
    border: none;
    width: 100px;
    height: 25px;
    box-shadow: 0 0 0.2em rgb(21, 21, 21);
    font-size: large;
    align-content: center;
    border-radius: 1em;
    outline: none;
    cursor: pointer;
}

button#submit:hover {
    background: rgb(255, 82, 82);
}

button#submit:active {
    background: rgb(205, 40, 40);
}

input {
    box-shadow: 0 0 0.2em rgb(95, 88, 176);
    overflow: hidden;   
    background: #fff; 
    padding: 0.7em 0.7em;
    border: none;
    border-radius: 1em;
    outline: none;
}
<<<<<<< HEAD:front_end/CSS/login.css
/*
#toLoginPage {
    position: absolute;
    top: 2em; 
    right: 4em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}

#toAboutPage {
    position: absolute;
    top: 2em; 
    right: 8em;
    color: #000000;
    font-size: 30px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    
}
*/
#toSignUp {
    color: #7161ff;
    margin-top: 10px;
}


=======
>>>>>>> sprint3:back_end/static/app/CSS/signup.css
