{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/nav_bar.css' %}">
    <script type="module" src="{% static '/app/JS/login.js' %}"></script>    
    <title>Baymax | Login</title>
</head>

<body>
    <h1 id="Baymax"><a href="/" id="toIndex">Baymax</a></h1>
    <aside id="navbar">
        {% if not user.is_authenticated %} 
            <button id="toLoginPage" onclick="window.location.href = 'login'">Login</button> 
        {% else %}
            <button id="toLoginPage" onclick="window.location.href = 'signout'">Signout</button> 
            <button id="toProfilePage" onclick="window.location.href = 'profile'">Profile</button>
        {% endif %}
        <button id="toAboutPage" onclick="window.location.href = 'about'">About</button>
    </aside>

    <form> {% csrf_token %}
        <h2>Log In To Your Account</h2>
        <div id="error"></div>
        <div class="user">
            Username:
            <input type="text" id="username" name="username">
        </div>
        <div class="pass">
            Password:
            <input type="password" id="password" name="password">
        </div>
        <button id="submit">Login</button>

        <a href="signup" id="toSignUp">Don't have an account?</a>
    </form>
    
</body>
</html>
