<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/nav_bar.css' %}">
    <title>Baymax | Profile</title>
</head>

<body>
    <aside id="navbar">
        <h1 id="Baymax"><a href="/" id="toIndex">Baymax</a></h1>
        <button id="toLoginPage" onclick="window.location.href = 'login'">Login</button>
        <button id="toProfilePage" onclick="window.location.href = 'profile'">Profile</button>
        <button id="toAboutPage" onclick="window.location.href = 'about'">About</button>
    </aside>
    <form>
        <h2>Profile Information</h2>

        <div class="info" id="user">
            Username: yourUsernameHere
        </div>
        <div class="info" id="pass">
            Password: yourPasswordHere
        </div>
        <div class="info" id="email">
            Email: yourEmailHere
        </div>
        <div class="info" id="city">
            City: yourCityHere
        </div>
        <div class="info" id="state">
            State: yourStateHere
        </div>
        <div class="info" id="zipcode">
            Zip Code: yourZipCodeHere
        </div>

        <a href="" id="toInfoChange">Change profile information</a>
    </form>
    
    <!-- <script src="../JS/signup.js"></script> Was this script assigned to the wrong page?--> 
</body>
</html>
