{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/nav_bar.css' %}">
    <title>Search Page</title> 
</head>

<body>
    <h1 id="Baymax"><a href="/" id="toIndex">Baymax</a></h1>
    <aside id="navbar">
        <div class="nav_container">
            <button id="toggleSearchButton" onclick="window.location.href = 'search'"><img src="{% static '/app/images/magnifying-glass-glyph.png' %}"></button>
            {% if not user.is_authenticated %} 
                <button id="toLoginPage" onclick="window.location.href = 'login'">Login</button> 
            {% else %}
                <button id="toLoginPage" onclick="window.location.href = 'signout'">Signout</button> 
                <button id="toProfilePage" onclick="window.location.href = 'profile'">Profile</button>
            {% endif %}
            <button id="toAboutPage" onclick="window.location.href = 'about'">About</button>
        </div>
    </aside>
    
    <div class="content">
        <h2 id="searchTitle">Search</h2>
        <div id="searchContainer">
            <form action="search" method="GET">
                <input type="text" name="search" id="searchBar" placeholder="Knoxville">
                <input type="submit" value="Search" id="searchButton">
            </form>
        </div>
    </div>
</body>
</html>
