{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/about.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/app/CSS/nav_bar.css' %}">
    <title>Search Page</title> 
</head>

<body>
    <h1 id="Baymax"><a href="/" id="toIndex">Baymax</a></h1>
    <aside id="navbar">
        <div class="nav_container">
            <button id="toggleSearchButton" onclick="window.location.href = 'search'"><img src="{% static '/app/images/magnifying-glass-glyph.png' %}"></button>
            {% if not user.is_authenticated %} 
                <button id="toLoginPage" onclick="window.location.href = 'login'">Login</button> 
            {% else %}
                <button id="toLoginPage" onclick="window.location.href = 'signout'">Signout</button> 
                <button id="toProfilePage" onclick="window.location.href = 'profile'">Profile</button>
            {% endif %}
            <button id="toAboutPage" onclick="window.location.href = 'about'">About</button>
        </div>
    </aside>
    
    <div class="content">
        <h2>Search Doctors</h2>
        <form id="message_form">
            <textarea id="message_textarea" name="message"></textarea>
            <button id="submit_message"><img src="{% static '/app/images/paper-plane.png' %}"></button>
        <!--img attribution "<a href="https://www.flaticon.com/free-icons/paper-plane" title="paper-plane icons">Paper-plane icons created by DinosoftLabs - Flaticon</a>"-->
        </form> 
    </div>
    <script type="module" src="{% static '/app/JS/index.js' %}"> </script>
    <script src="{% static '/app/JS/textarea_replacement.js' %}"></script>
    <script src="{% static '/app/JS/message_scroll.js' %}"></script>
</body>
</html>
