<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <script src="utils.js"></script> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/signup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/CSS/nav_bar.css' %}">

    <title>Baymax | Sign Up</title>
</head>

<body>
    <aside id="navbar">
        <h1 id="Baymax"><a href="../index.html" id="toIndex">Baymax</a></h1>
        <button id="toLoginPage" onclick="window.location.pathname = 'html/login.html'">Login</button>
        <button id="toAboutPage" onclick="window.location.pathname = 'html/about.html'">About</button>
        <script type="module" src="{% static '/JS/signup.js' %}"></script>
    </aside>

    <form>
        <h2>Create Your Account</h2>
        <div id="error"></div>
        <div class="user">
            Username:
            <input type="text" id="username">
        </div>
        <div class="pass">
            Password:
            <input type="text" id="password">
        </div>
        <div class="email">
            Email:
            <input type="text" id="email">
        </div>
        <div class="city">
            City:
            <input type="text" id="city">
        </div>
        <div class="state">
            State:
            <input type="text" id="state">
        </div>
        <div class="zipcode">
            Zip Code:
            <input type="text" id="zipcode">
        </div>
        <button id="submit">Create</button>
    </form>
</body>
</html>
